html,
body {
  background: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

#myform {
  display: flexbox;
  flex-direction: row;
  margin-left: 30%;
}

#myform input {
  display: block;
  max-width: 200px;
}

input[type=submit] {
  margin-top:20px; 
  margin-left: 5px;
  border-radius: 13px;
  border: none;
  color: white;
}

fieldset {
  margin: 0px;
  padding: 0px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 2px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

h3 {
  color: black;
  font-weight: bold;
  text-align: center;
}

footer {
  margin-top: 20%;
  width: 100%;
  position: absolute;
  top: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 179, 179, 0.6);
}

table{
border: 2px;
}
th,td{
  font-size: 15px;
  padding: 3px;
  margin: 3px;
}

.grid-container{
  display: grid; 
   grid-template-columns: auto auto auto auto;
   background-color: #e0e0e0;
   padding: 10px;
}
.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;

  font-size: 30px;
  text-align: center;
}
.grid-item img{
  width: 300px;
  border-radius: 6px;
  height: 200px;
}
.products{
  font-size: 15px;
}
.products img{
  width: 300px;
  border-radius: 6px;
  height: 200px;
}
.products form{
  display: inline-block;
}
.products li{
  list-style: none;
}